<%- include('header.ejs') %>
<center>
	<div class="jumbotron">
		<h1>Your account was deleted.</h1>
	</div>
</center>
<div>
	<ul class="pager">
		<li class="previous"><a href="/login">â† Back to Login</a></li>
	</ul>
</div>
<%- include('footer.ejs') %>