<!-- Footer
			================================================== -->
			<br><br>
			<footer class="footer">
				<!-- <p class="pull-left" style="margin-top: -14px"><img src="/img/test/geocities.jpg"></p> -->
				<%- include('footer_left.ejs') %>
				
				<p class="pull-right" style="margin-top: -14px"><img src="/img/test/hacker.gif">&nbsp; Made by Derek McCants</p>
			</footer>
 <!-- <center><img src="img/test/counter2.gif"></center> -->
		</div><!-- /container -->



		<!-- Le javascript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="/bootstrap/docs/assets/js/jquery.js"></script>
		<script src="/bootstrap/docs/assets/js/google-code-prettify/prettify.js"></script>
		<script src="/bootstrap/docs/assets/js/bootstrap-transition.js"></script>
		<script src="/bootstrap/docs/assets/js/bootstrap-alert.js"></script>
		<script src="/bootstrap/docs/assets/js/bootstrap-modal.js"></script>
		<script src="/bootstrap/docs/assets/js/bootstrap-dropdown.js"></script>
		<script src="/bootstrap/docs/assets/js/bootstrap-scrollspy.js"></script>
		<script src="/bootstrap/docs/assets/js/bootstrap-tab.js"></script>
		<script src="/bootstrap/docs/assets/js/bootstrap-tooltip.js"></script>
		<script src="/bootstrap/docs/assets/js/bootstrap-popover.js"></script>
		<script src="/bootstrap/docs/assets/js/bootstrap-button.js"></script>
		<script src="/bootstrap/docs/assets/js/bootstrap-collapse.js"></script>
		<script src="/bootstrap/docs/assets/js/bootstrap-carousel.js"></script>
		<script src="/bootstrap/docs/assets/js/bootstrap-typeahead.js"></script>
		<script src="/bootstrap/docs/assets/js/bootstrap-affix.js"></script>
		<script src="/test/bootswatch.js"></script>


	

</body></html>