<%- include('header.ejs') %>
<center>
	<div class="jumbotron">
		<h1><img src="img/test/7upspot.gif">&nbsp;<font color="#FF0000">M</font><font color="#FF5A00">a</font><font color="#FFB400">i</font><font color="#FFff00">n</font><font color="#A5ff00"></font><font color="#4Bff00"></font><font color="#00ff00"> </font><font color="#00ff5A">I</font><font color="#00ffB4">n</font><font color="#00ffff">v</font><font color="#00B4ff">e</font><font color="#005Aff">n</font><font color="#0000ff">t</font><font color="#4B00ff">o</font><font color="#A500ff">r</font><font color="#FF00ff">y</font><font color="#FF00B4"> </font><font color="#FF005A">L</font><font color="#FF0000">i</font><font color="#FF5A00">s</font><font color="#FFB400">t</font><font color="#FFff00"> </font><font color="#A5ff00">K</font><font color="#4Bff00">e</font><font color="#00ff00">e</font><font color="#00ff5A">p</font><font color="#00ffB4">e</font><font color="#00ffff">r</font><font color="#00B4ff"> </font><blink><font color="#005Aff">(</font><font color="#0000ff">M</font><font color="#4B00ff">I</font><font color="#A500ff">L</font><font color="#FF00ff">K</font><font color="#FF00B4">)</font><!--<font color="#FF005A"> </font>--></blink></h1>
	</div>
</center>
<div class="span9 offset1">
	<p>Welcome to Main Inventory List Keeper</p>
	<p>Use the above buttons in the toolbar to navigate around.</p>
</div>
<%- include('footer.ejs') %>
